In [5]:
from sqlalchemy.orm import declarative_base 
from sqlalchemy import Column, Integer, String

Base = declarative_base()

class Company(Base):
    __tablename__ = 'company'

    company_id = Column(Integer, primary_key=True)
    name = Column(String)
    address = Column(String)
    
    def __str__(self):
        return f'This is a company {self.name}. Address: {self.address}'
    
    def __repr__(self):
        return f'This is a company {self.name}. Address: {self.address}'

In [6]:
from sqlalchemy import ForeignKey
from sqlalchemy import Integer
from sqlalchemy.orm import Mapped
from sqlalchemy.orm import mapped_column

class Car(Base):
    __tablename__ = 'car'

    car_id = Column(Integer, primary_key=True)
    reg_number = Column(String)
    model = Column(String)
    company_id = mapped_column(ForeignKey("company.company_id"))

    def __str__(self):
        return f'This is a car {self.reg_number}. Model: {self.model}'
    
    def __repr__(self):
        return f'This is a car {self.reg_number}. Model: {self.model}'

In [7]:
from sqlalchemy import create_engine

DATABASE_URI = 'postgresql://{user}:{password}@{host}:{port}/{database}'


engine = create_engine(
    DATABASE_URI.format(
        host='localhost',
        database='postgres',
        user='postgres',
        password='password',
        port=5432,
    )
)

In [8]:
Base.metadata.create_all(engine)

In [9]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)

# To connect to DB with SQLAlchemy you need to create sessions:
session = Session()

In [10]:
session.close()

In [11]:
c1 = Company()
c1.name = 'Lyubava'
c1.address = 'smt Gorodkivka'

c2 = Company()
c2.name = 'TOV Apple'
c2.address = 'Kyiv'

c3 = Company()
c3.name = 'Norfolk&Partners'
c3.address = 'Lviv'

In [12]:
session.add_all([c1, c2, c3])
session.commit()

In [13]:
t1 = Car()
t1.reg_number = 'KA 0459 TO'
t1.model = 'VW'
t1.company_id = 1

t2 = Car()
t2.reg_number = 'KA 0908 TO'
t2.model = 'Skoda'
t2.company_id = 3

t3 = Car()
t3.reg_number = 'KA 1159 PO'
t3.model = 'Volvo'
t3.company_id = 2

t4 = Car()
t4.reg_number = 'KA 2349 TO'
t4.model = 'Kia'
t4.company_id = 1

t5 = Car()
t5.reg_number = 'KA 5623 TO'
t5.model = 'Chevrolet'
t5.company_id = 2

t6 = Car()
t6.reg_number = 'KA 0477 TO'
t6.model = 'Kia'
t6.company_id = 3

t7 = Car()
t7.reg_number = 'AA 7777 BB'
t7.model = 'Nissan'
t7.company_id = 2

t8 = Car()
t8.reg_number = 'KA 0459 HH'
t8.model = 'Fiat'
t8.company_id = 1

session.add_all([t1, t2, t3, t4, t5, t6, t7, t8])
session.commit()

In [14]:
first_company = session.query(Company).first()

In [15]:
first_company

This is a company Lyubava. Address: smt Gorodkivka

In [19]:
company = session.query(Company).all() # select * from student 

# for company in company:
#     print(f'Company id  {student.id}')
#     print(f'Company name  {student.name}')
#     print(f'Company age  {student.age}')
#     print()

In [20]:
company

[This is a company Lyubava. Address: smt Gorodkivka,
 This is a company TOV Apple. Address: Kyiv,
 This is a company Norfolk&Partners. Address: Lviv]

In [21]:
first_company.company_id

1

In [22]:
session.query(Company.company_id, Company.name).all()
# Select company_id, name from company

[(1, 'Lyubava'), (2, 'TOV Apple'), (3, 'Norfolk&Partners')]

In [27]:
from sqlalchemy import func

company_name = 'Lyubava'

num_cars = session.query(func.count(Car.car_id)).join(Company).filter(Company.name == company_name).scalar()

print(f"Company {company_name} rents {num_cars} cars.")

Company Lyubava rents 3 cars.

In [28]:
session.close()